src/LaunchPad.xcodeproj/project.xcworkspace/xcshareddata
src/LaunchPad.xcodeproj/project.xcworkspace/xcuserdata
src/LaunchPad.xcodeproj/xcuserdata
src/fastlane/test_output
src/fastlane/README.md
src/fastlane/report.xml
xcuserdata
